.headerText {
    text-align: center;
    color: white;
}

.headerRow {
    background-color: rgb(92, 104, 121);
}
.evenRow {
    background-color:rgb(230, 235, 245);
}
.oddRow {
    background-color: rgb(189, 199, 219);
}